body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding-top: 80px;
}

.logo-navbar {
    height: 35px;
}

.rounded {
    height: 100px;
}

.iconos {
    width: 35px;
    padding-right: 10px;
}

.programas {
    width: 200px;
    height: 42px;
}

p {
    font-size: 15px;
}

.programas-seccion {
    background-color: #fbfbfb;
    padding: 20px;
}

.imagenes {
    height: 197px;
}

#quien-soy {
    padding-top: 25px;
    padding-bottom: 25px;
}

.servicios {
    padding-bottom: 25px;
}